<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            Zobacz co u nas
            <br />
        </h2>
        <p>
            Zobacz jak odmieniamy przyszłość polskich uczniów - każde ważne wydarzenie umieszczamy na naszym blogu.
        </p>
        <a href="/blog" class="cs-button-solid">Przejdź do bloga</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/working-on-project.png">
        <source media="(min-width: 601px)" srcset="/assets/images/working-on-project.png">
        <img aria-hidden="true" decoding="async" src="/assets/images/working-on-project.png" alt="team working on project" loading="lazy" width="2500" height="1667">
    </picture>

</section>