---
title: 'O nas'
description: 'Meta description for the page'
preloadImg: '/assets/images/e-learning.png'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    title: O nas
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Więcej o nas</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/student-group-wide.png">
            <source media="(min-width: 601px)" srcset="/assets/images/student-group-wide.png">
            <img aria-hidden="true" decoding="async" src="/assets/images/student-group-wide.png" alt="students group" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/engineers.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/engineers.png">
                    <img aria-hidden="true" decoding="async" src="/assets/images/engineers.png" alt="engineers" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/lecture2.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/lecture2.png">
                    <img aria-hidden="true" decoding="async" src="/assets/images/lecture2.png" alt="lecture" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">Nasza motywacja</span>
                <h2 class="cs-title">Nowe znaczenie nauki</h2>
                <h6 class="cs-text">
                    Nauka nie jest dla nas zbiorem zeszytów, wykresów, doświadczeń i badań. Nauka jest dążeniem do wiedzy - i to taką naukę chcemy usystematyzować w polskich szkołach. Wierzymy, że każdy uczeń jest zdolny do przełomowych odkryć i działań, które mogą zmieniać świat.
                </h6>
                <p class="cs-text">
                    Gdy na porządku dziennym są lekcje, których główną motywacją są słowa "to będzie na maturze", ciężko jest uzmysławiać młodym ludziom, że pochłaniana przez nich wiedza ma znaczenie. Duża część uczniów twierdzi, że większość rzeczy których uczą się w szkole nie przyda im się w przyszłości. Może to kwestia podejścia, a nie samego materiału?
                </p>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-521">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Nasze podejście</span>
            <h2 class="cs-title">Edukacja jako <br/>krok w przyszłość</h2>
            <p class="cs-text">
                Wierzymy, że szkoły powinny być miejscem w którym młodzi ludzie budują fundamenty swojej przyszłości. Wiedza zdobyta w szkole powinna uświadamiać ucznia o tym jak buduje się nowoczesne technologie, a także o tym które z nich czekają na jego wkład. 
            </p>
            <p class="cs-text">
                Uczniowie muszą być świadomi, że żadna wiedza nie jest zła. Kompetencje są jedną z niewielu rzeczy, których nie można fizycznie utracić. Ponadto, w przyszłości to one będą grać najważniejszą rolę w kwestii kształtowania otaczającego nas świata. 
            </p>
            <p class="cs-text">
                Naszym celem nie jest niszczenie obecnego szkolnictwa, ale sprawne dostosowywanie go do obecnych potrzeb i trendów. 
                <b>Przestarzałej edukacji mówimy NIE.</b>
            </p>
            <ul class="cs-ul">
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" src="/assets/images/icons/student.png" loading="lazy" decoding="async" alt="icon" width="64" height="64">
                    <div>
                        <span class="big-letter">N</span>auczanie skoncentrowane wokół ucznia i jego rozwoju
                    </div>
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" src="/assets/images/icons/learning.png" loading="lazy" decoding="async" alt="icon" width="64" height="64">
                    <div>
                        <span class="big-letter">I</span>ndywidualny proces uczenia dostosowany do uczniów, nie nauczycieli
                    </div>
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" src="/assets/images/icons/light-bulb.png" loading="lazy" decoding="async" alt="icon" width="64" height="64">
                    <div>
                        <span class="big-letter">E</span>dukacja pokazująca uczniom ich zdolności i odkrywająca ich pasje
                    </div>
                </li>
            </ul>
        </div>
        <!--Image Group-->
        <div class="cs-image-group">
            <!--Picture-->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/student4.png">
                <source media="(min-width: 601px)" srcset="/assets/images/student4.png">
                <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/student4.png" alt="student" width="630" height="461">
            </picture>
        </div>
    </div>
</section>


                                
                                

    {% include 'components/cta.html' %}

{% endblock %}