---
title: 'Edutie - innowacyjna platforma e-learningowa'
description: 'Meta description for the page'
preloadImg: '/assets/images/e-learning.png'
permalink: 'solutions/edutie/'
eleventyNavigation:
    key: Edutie
    parent: Solutions
    title: Edutie
    order: 201
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/edutie.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">E-learning na Edutie</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/e-learning.png">
            <source media="(min-width: 601px)" srcset="/assets/images/e-learning.png">
            <img aria-hidden="true" decoding="async" src="/assets/images/e-learning.png" alt="e-learning" loading="eager" width="2500" height="1667">
        </picture>
    </section>

           <!-- ============================================ -->
<!--            Side By Side Reverse              -->
<!-- ============================================ -->

<section id="sbsr-298">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <!--Floating Box-->
            <div class="cs-box">
                <span class="cs-number">Luty</span>
                <span class="cs-desc">2024 - premiera</span>
                <!--Background image for cs-box-->
                <picture class="cs-box-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/artificial-intelligence.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/artificial-intelligence.png">
                    <img loading="lazy" decoding="async" src="/assets/images/artificial-intelligence.png" alt="greek pillars" width="521" height="672" aria-hidden="true">
                </picture>
            </div>
            <!--Big Background Image-->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/e-learning2.png">
                <source media="(min-width: 601px)" srcset="/assets/images/e-learning2.png">
                <img loading="lazy" decoding="async" src="/assets/images/e-learning2.png" alt="e-learning" width="521" height="672" aria-hidden="true">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">edutie</span>
            <h2 class="cs-title">Platforma tworzona przez uczniów dla uczniów</h2>
            <p class="cs-text">
                Każdy w naszym zespole jest uczniem - dlatego znamy nasze potrzeby od podszewki. Projektujemy platformę wraz z psychologami i pedagogami, uzupełniając ich doświadczenie naszym nowatorskim podejściem oraz wiedzą o tym jak uczą się młodzi.
            </p>
            <p class="cs-text">
                Platforma oferuje szereg wygód, dzięki którym proces uczenia się jest prosty i przyjemny. Ponadto, dostosowuje się ona pod indywidualny styl uczenia każdego ucznia - każdy z uczniów dostaje różne zadania, tak aby mógł wykazać się swoimi mocnymi stronami, ale także pracować nad ulepszaniem swoich słabych stron.
            </p>
            <p class="cs-text">
                Prace nad platformą dalej trwają. Premiera planowana jest na luty 2024 roku.
            </p>
        </div>
    </div>
</section>
    

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-218">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Jedyna taka platforma</span>
            <h2 class="cs-title">Czemu edutie?</h2>
            <p class="cs-text">
                Jako jedyni tak dobrze znamy problemy polskich uczniów. Dzięki ekspertyzie w ich doświadczaniu, jesteśmy bardzo dobzi w ich identyfikowaniu i rozwiązywaniu.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="/assets/images/icons/personal-development.png" alt="icon" width="77" height="77">
                <h3 class="cs-h3">Nowe możliwości rozwoju</h3>
                <p class="cs-item-text">
                    Odkryj nowe możliwości rozwoju dzięki [!KURSOM!], krótkim kursom które pokażą ci nową dziedzinę. Może to z jej pomocą będziesz rewolucjonizował przyszłość?
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="/assets/images/icons/membrane.png" alt="icon" width="77" height="77">
                <h3 class="cs-h3">Doskonale dobrany materiał</h3>
                <p class="cs-item-text">
                    Jako uczniowie dobrze wiemy jak ważna jest kolejność przyswajanego materiału. Nasza mapa wiedzy sprawi, że już nigdy nie zgubisz się w trakcie nauki.
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="/assets/images/icons/segmentation.png" alt="icon" width="77" height="77">
                <h3 class="cs-h3">Nauka specjalnie dla Ciebie</h3>
                <p class="cs-item-text">
                    Dbamy o to, aby każda aktywność na naszej platformie była spersonalizowana wedle Twoich potrzeb i uświadamiała cię o twoich mocnych i słabych stronach.
                </p>
            </li>
        </ul>
        
    </div>
</section>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-1217">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <!--Floating Box-->
            <div class="cs-box">
                <img class="cs-icon" loading="lazy" decoding="async" src="/assets/images/icons/school.png" alt="icon" width="521" height="60" aria-hidden="true">
                <span class="cs-number">5</span>
                <span class="cs-desc">Zbadanych szkół</span>
            </div>
            <!--Big Background Image-->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/student2.png">
                <source media="(min-width: 601px)" srcset="/assets/images/future-school.png">
                <img loading="lazy" decoding="async" src="/assets/images/student2.png" alt="student" width="522" height="560" aria-hidden="true">
            </picture>
            
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">realne zapotrzebowanie</span>
            <h2 class="cs-title">Odpowiedź na prawdziwe problemy</h2>
            <p class="cs-text">
                Technologia nieustannie się rozwija i otwiera uczniom nowe drogi rozwoju. Edukacja musi iść z duchem czasu i zacząć wykorzystywać najlepsze możliwe sposoby, aby młodzi ludzie poznali <b>nieograniczone możliwości</b> jakie jutrzejszy świat im zaoferuje. Przeprowadzona przez nas ankieta w 5 warszawskich szkołach pokazuje, że uczniowie chcą iść z duchem czasu.
            </p>
            <div class="cs-content-flair">
                <div class="cs-bar">
                    <h3 class="cs-h3">
                        Odsetek uczniów, którzy chcą korzystać z AI w celach edukacyjnych
                        <span class="cs-percentage">84%</span>
                    </h3>
                    <!--change the --progress number to match the percentage in cs-number-->
                    <div class="cs-progress" aria-hidden="true">
                        <span class="cs-progress-bar"  style="--progress: 89%"></span>
                    </div>
                </div>
                <div class="cs-bar">
                    <h3 class="cs-h3">
                        Odsetek uczniów, którzy chcą budować swoją przyszłość w oparciu o naukę
                        <span class="cs-percentage">72%</span>
                    </h3>
                    <!--change the --progress number to match the percentage in cs-number-->
                    <div class="cs-progress" aria-hidden="true">
                        <span class="cs-progress-bar"  style="--progress: 75%"></span>
                    </div>
                </div>
                <div class="cs-bar">
                    <h3 class="cs-h3">
                        Odsetek uczniów, którzy uważają że internet jest pomocny w nauce
                        <span class="cs-percentage">100%</span>
                    </h3>
                    <!--change the --progress number to match the percentage in cs-number-->
                    <div class="cs-progress" aria-hidden="true">
                        <span class="cs-progress-bar"  style="--progress: 100%"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
                                

<!-- ============================================ -->
<!--                  Sbs                         -->
<!-- ============================================ -->
                                
<section id="sbs">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-left">
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="/assets/images/teacher2.png">
                <source media="(min-width: 601px)" srcset="/assets/images/teacher2.png">
                <img aria-hidden="true" decoding="async" src="/assets/images/teacher2.png" alt="cabinets" loading="lazy" width="400" height="563">
            </picture>
            <picture class="cs-picture cs-picture2">
                <source media="(max-width: 600px)" srcset="/assets/images/teacher3.png">
                <source media="(min-width: 601px)" srcset="/assets/images/teacher3.png">
                <img aria-hidden="true" decoding="async" src="/assets/images/teacher3.png" alt="cabinets" loading="lazy" width="400" height="563">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-right">
            <span class="cs-topper">dla nauczycieli</span>
            <h2 class="cs-title">Edutie dla nauczycieli</h2>
            <h6 class="cs-text">
                Nauczyciele, którym zależy na edukacji i przyszłości swoich uczniów, są fundamentem dobrej edukacji. Dlatego wspieramy ich tak bardzo jak tylko możemy.
            </h6>
            <p class="cs-text">
                Specjalnie dla nauczycieli, udostępniamy wszystkie zawarte na platformie  materiały naukowe dotyczące szkolnego programu nauczania <b>za darmo</b>. Wierzymy, uczniowie powinni mieć podczas lekcji dostęp do najlepszych możliwych materiałów - a w takich się specjalizujemy. Aby uzyskać dostęp skontaktuj się z nami - więcej dowiesz się klikając przycisk poniżej.
            </p>

            <a href="/contact" class="cs-button-solid">Poproś o dostęp</a>


        </div>
    </div>
</section>

    {% include 'components/cta.html' %}

{% endblock %}