---
title: 'Nowa Nauka - Rozwiązania'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'solutions/'
eleventyNavigation:
    key: Solutions
    title: Rozwiązania
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/projects.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Nasze rozwiązania</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

 <!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-690">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
                <span class="cs-topper">Rozwiązania</span>
                <h2 class="cs-title">Robimy to aby uczniowie <span class="cs-color">wiedzieli więcej</span></h2>
            </div>
            <p class="cs-text">
                Tworzymy edukację, w której <b>każda lekcja ma znaczenie</b>. Nasze rozwiązania wciągają ucznia, pokazując mu realne problemy współczesnego świata, oraz to jak mało dzieli go od brania aktywnego udziału w kształtowaniu otaczającej nas rzeczywistości. Każdy specjalista zrobił kiedyś pierwszy krok na swojej ścieżce - my pokazujemy uczniom która ścieżka jest dla nich najlepsza.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="/solutions/workshops" class="cs-link">
                    <picture class="cs-picture">
                        <img class="cs-icon" src="/assets/images/icons/workshop.png" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Warsztaty i spotkania</h3>
                    <p class="cs-item-text">
                        Wraz ze studentami topowych uczelni przygotowujemy dla uczniów warsztaty i spotkania, na których prezentujemy daną dziedzinę z perspektywy znawcy.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="/solutions/edutie" class="cs-link">
                    <picture class="cs-picture">
                        <img class="cs-icon" src="/assets/images/icons/online-learning.png" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">E-learning : Edutie</h3>
                    <p class="cs-item-text">
                        Tworzymy innowacyjną platformę e-learningową dostępną dla uczniów i nauczycieli, która spersonalizuje proces nauczania ucznia i umożliwi mu rozwój w nowych dziedzinach.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="/solutions/edutie" class="cs-link">
                    <picture class="cs-picture">
                        <img class="cs-icon" src="/assets/images/icons/teacher.png" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Materiały dla nauczycieli</h3>
                    <p class="cs-item-text">
                        Edutie jest dostępne dla zweryfikowanych nauczycieli za darmo - aby każdy uczeń mógł w szkole korzystać z materiałów przygotowanych przez uczniów dla uczniów.
                    </p>
                </a>
            </li>
        </ul>
    </div>
</section>
                                

{% endblock %}