---
title: 'Warsztaty ze studentami'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: '/solutions/workshops'
eleventyNavigation:
    key: Workshops
    parent: Solutions
    title: Warsztaty
    order: 301
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/workshops.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Warsztaty i wykłady</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/lecture-wide.png">
            <source media="(min-width: 601px)" srcset="/assets/images/lecture-wide.png">
            <img aria-hidden="true" decoding="async" src="/assets/images/lecture-wide.png" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>


    <!-- ============================================ -->
    <!--                Side By Side                  -->
    <!-- ============================================ -->

    <section id="sbs-521">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">The Future Is Here</span>
                <h2 class="cs-title">Bringing Your Ideas and Innovations to Life</h2>
                <p class="cs-text">
                    Vitae ultricies leo integer malesuada nunc vel. Molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit. Viverra aliquet eget sit amet tellus cras adipiscing
                </p>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/SideBySide/sheild.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40">
                        Lorem Ipsum Dolor Sit Amet Consectectur
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/SideBySide/pencil.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40">
                        Lorem Ipsum Dolor Sit Amet Consectectur
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/SideBySide/hat.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40">
                        Lorem Ipsum Dolor Sit Amet Consectectur
                    </li>
                </ul>
            </div>
            <!--Image Group-->
            <div class="cs-image-group">
                <ul class="cs-stat-group">
                    <li class="cs-stat">
                        <span class="cs-number">100%</span>
                        <span class="cs-desc">Zbadanych uczniów chce uczestniczyć w zajęciach pokrywających się z ich zainteresowaniami</span>
                    </li>
                    <li class="cs-stat">
                        <span class="cs-number">5</span>
                        <span class="cs-desc">Vitae ultricies leo integer malesuada nunc vel. Molestie ac feugiat sed lectus vestibulum </span>
                    </li>
                </ul>
                <!--Picture-->
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/SideBySide/lightbulb.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/SideBySide/lightbulb.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/SideBySide/lightbulb.jpg" alt="lightbulbs" width="630" height="461">
                </picture>
            </div>
        </div>
    </section>
                                

<!-- ============================================ -->
<!--                   Steps                      -->
<!-- ============================================ -->

<section id="steps-889">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Process</span>
            <h2 class="cs-title">How It Works</h2>
            <p class="cs-text">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Ficon-orange.svg" alt="icon" width="32" height="32" loading="lazy" decoding="async" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Contact Us</h3>
                <p class="cs-item-p">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nemo voluptate.
                </p>
            </li>
            <!--Arrow-->
            <li class="cs-item cs-arrow" aria-hidden="true">
                <img class="cs-arrow-img" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Farrow-curve-right.svg" alt="icon" width="80" height="76" loading="lazy" decoding="async" aria-hidden="true">
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Ficon-orange.svg" alt="icon" width="32" height="32" loading="lazy" decoding="async" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Initial Evaluation</h3>
                <p class="cs-item-p">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nemo voluptate.
                </p>
            </li>
            <!--Arrow-->
            <li class="cs-item cs-arrow" aria-hidden="true">
                <img class="cs-arrow-img" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Farrow-curve-right.svg" alt="icon" width="80" height="76" loading="lazy" decoding="async" aria-hidden="true">
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Ficon-orange.svg" alt="icon" width="32" height="32" loading="lazy" decoding="async" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Develop a Plan</h3>
                <p class="cs-item-p">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nemo voluptate.
                </p>
            </li>
        </ul>
    </div>
</section>
                                
                                
    {% include 'components/cta.html' %}

{% endblock %}