---
title: 'Warsztaty ze studentami'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'solutions/workshops/'
eleventyNavigation:
    key: Workshops
    parent: Solutions
    title: Warsztaty
    order: 301
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/workshops.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Warsztaty i wykłady</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/lecture-wide.png">
            <source media="(min-width: 601px)" srcset="/assets/images/lecture-wide.png">
            <img aria-hidden="true" decoding="async" src="/assets/images/lecture-wide.png" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>


<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="services-1267">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Chęci uczniów</span>
            <h2 class="cs-title">Szkoła jako kuźnia talentów</h2>
            <p class="cs-text">
                Nasze badania wskazują na to, że uczniowie chcą się aktywnie rozwijać w kierunku swoich zainteresowań. Warto zauważyć również, że 40% uczniów nie ma zainteresowania, z którym chciałaby wiązać przyszłość. Wierzymy, że edukacja powinna pomagać uczniom nie tylko w <b>rozwijaniu swoich pasji i talentów</b>, ale również w <b>odkrywaniu ich</b>.
            </p>
        </div>
        <div class="cs-wrapper">
            <ul class="cs-card-group">
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <picture class="cs-picture">
                            <img class="cs-icon" aria-hidden="true"
                                    src="/assets/images/icons/hobbies.png" alt="svg icon"
                                    width="48" height="48" loading="lazy" decoding="async">
                        </picture>
                        Zainteresowania
                    </h3>
                    <span class="cs-number">98%</span>
                    <p class="cs-item-text">
                        Zbadanych uczniów chciałoby uczestniczyć w zajęciach pokrywających się z ich zainteresowaniami
                    </p>
                </li>
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <picture class="cs-picture">
                            <img class="cs-icon" aria-hidden="true"
                                    src="/assets/images/icons/competence.png" alt="svg icon"
                                    width="48" height="48" loading="lazy" decoding="async">
                        </picture>
                        Rozwój kompetencji
                    </h3>
                    <span class="cs-number">86%</span>
                    <p class="cs-item-text">
                        Zbadanych uczniów chce uczestniczyć w wykładach mających na celu rozwój swoich kompetencji
                    </p>
                </li>
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <picture class="cs-picture">
                            <img class="cs-icon" aria-hidden="true"
                                    src="/assets/images/icons/school.png" alt="svg icon"
                                    width="48" height="48" loading="lazy" decoding="async">
                        </picture>
                        Zbadane szkoły
                    </h3>
                    <span class="cs-number">5</span>
                    <p class="cs-item-text">
                        Warszawskich szkół znajdujących się w pierwszej setce rankingu perspektyw wzięło udział w badaniu
                    </p>
                </li>
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <picture class="cs-picture">
                            <img class="cs-icon" aria-hidden="true"
                                    src="/assets/images/icons/sad.png" alt="svg icon"
                                    width="48" height="48" loading="lazy" decoding="async">
                        </picture>
                        Brak zainteresowań
                    </h3>
                    <span class="cs-number">40%</span>
                    <p class="cs-item-text">
                        Zbadanych uczniów nie jest w stanie wskazać jednego, dominującego zainteresowania
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
                                
                                

<!-- ============================================ -->
<!--                   Steps                      -->
<!-- ============================================ -->

<section id="steps-889">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Krok po kroku</span>
            <h2 class="cs-title">Jak działamy</h2>
            <p class="cs-text">
                Plan jest prosty. Kontaktujesz się z nami, a my zajmujemy się resztą.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="/assets/images/icons/chat.png" alt="icon" width="48" height="48" loading="lazy" decoding="async" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Odezwij się</h3>
                <p class="cs-item-p">
                    Daj nam znać o twojej szkole i tego, co rozbudza jej społeczność
                </p>
            </li>
            <!--Arrow-->
            <li class="cs-item cs-arrow" aria-hidden="true">
                <img class="cs-arrow-img" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Farrow-curve-right.svg" alt="icon" width="80" height="76" loading="lazy" decoding="async" aria-hidden="true">
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="/assets/images/icons/team.png" alt="icon" width="48" height="48" loading="lazy" decoding="async" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Prowadzimy kooperację</h3>
                <p class="cs-item-p">
                    Za pośrednictwem samorządu organizujemy się i dowiadujemy, czego wasza szkoła potrzebuje
                </p>
            </li>
            <!--Arrow-->
            <li class="cs-item cs-arrow" aria-hidden="true">
                <img class="cs-arrow-img" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Farrow-curve-right.svg" alt="icon" width="80" height="76" loading="lazy" decoding="async" aria-hidden="true">
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="/assets/images/icons/light-bulb.png" alt="icon" width="48" height="48" loading="lazy" decoding="async" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Dajemy wam pasję</h3>
                <p class="cs-item-p">
                    Nasz zespół otwiera przed wami nowe horyzonty lub rozwija w was to co już macie.
                </p>
            </li>
        </ul>
    </div>
</section>
                                
                                
    {% include 'components/cta.html' %}

{% endblock %}