---
title: 'Nowa Nauka - Inicjatywa dla lepszej nauki'
description: 'Nauka nie powinna być kojarzona jedynie ze stosem książek i godzinach przy biurku. Chcemy pokazać uczniom, że nauka jest przyszłością i że może stać się również ich ścieżką. Naszą misją jest sprawienie, aby polscy uczniowie lubili się uczyć i byli ciągle głodni wiedzy, a także aby uświadomić ich jak ważna we współczesnym świecie jest wiedza i umiejęteność uczenia się.'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  title: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/local.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-229">
    <div class="cs-container">
        <div class="cs-flex-group">
            <span class="cs-topper">nowa nauka</span>
            <h1 class="cs-title">Nowa. Lepsza. Twoja.</h1>
            <p class="cs-text">
                Zmienimy naukę specjalnie dla <b>Ciebie</b>
            </p>
            <a href="#core-idea" class="cs-button-solid">Zobacz jak</a>
        </div>
    </div>

    <!-- Background Image -->
    <picture class="cs-picture">
        <source media="(max-width: 600px)" srcset="/assets/images/student-ps.png">
        <source media="(min-width: 601px)" srcset="/assets/images/student-ps.png">
        <img loading="lazy" decoding="async" src="/assets/images/student-ps.png" alt="studyng" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="RTsbs-249">
    <div class="cs-container" id="about">
        <!-- Left Image Section -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/working-on-project.png">
            <source media="(min-width: 601px)" srcset="/assets/images/working-on-project.png">
            <img loading="lazy" decoding="async" src="/assets/images/working-on-project.png" alt="students" width="434" height="434" aria-hidden="true">
        </picture>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">Poznaj nas</span>
            <h2 class="cs-title">Kim jesteśmy</h2>
            <p class="cs-text">
                Jesteśmy grupą studentów i uczniów szkół średnich, którzy wierzą, że nauka nie musi być kojarzona z długimi godzinami spędzonymi przy biurku. Chcemy uświadomić młodych ludzi o wielkim znaczeniu wiedzy i nauki we współczesnym świecie i zmienić powszechne poglądy na jej temat panujące wśród uczniów.
            </p>
        </div>
    </div>
</section>
                                
<!-- ============================================ -->
<!--              Side By Side Reverse            -->
<!-- ============================================ -->

<section id="RTsbsr-249">
    <div class="cs-container">
        <!-- Left Image Section -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/student-and-teacher.png">
            <source media="(min-width: 601px)" srcset="/assets/images/student-and-teacher.png">
            <img loading="lazy" decoding="async" src="/assets/images/student-and-teacher.png" alt="teacher" width="434" height="434" aria-hidden="true">
        </picture>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">Dlaczego to robimy</span>
            <h2 class="cs-title">Prawdziwy mistrz jest wiecznym uczniem</h2>
            <p class="cs-text">
                Naszą misją jest upowszechnianie idei ciagłej nauki w młodych ludziach - kluczowa sprawą, o której system edukacji zapomniał. Chcemy nauczyć was jak się uczyć i uświadomić o wadze tej umiejętności w coraz szybciej zmieniającej się rzeczywistości.
            </p>
        </div>
        <!-- Creates the faded lines on tablet -->
        <span aria-hidden="true" class="cs-lines"></span>
    </div>
    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/monk.png">
        <source media="(min-width: 601px)" srcset="/assets/images/monk.png">
        <img loading="lazy" decoding="async" src="/assets/images/monk.png" alt="monk" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>

<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->
<section id="services-1188">
    <div class="cs-container" id="core-idea">
        <div class="cs-content">
            <span class="cs-topper">profil nauczania</span>
            <h2 class="cs-title">Rdzeń naszych rozwiązań</h2>
            <p class="cs-text">
                Chcemy poznać Cię bliżej. Dzięki temu, że poznamy twoje predyspozycje i zdolności, będziesz mógł uczyć się lepiej niż kiedykolwiek wcześniej. Indywidualnie dopasowane praktyki edukacyjne sprawią, że nie tylko <b>zrozumiesz materiał</b>, ale także <b>poszerzysz swoje horyzonty</b>.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="/assets/images/icons/brain.png"
                            loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Odkryj słabości</h3>
                    <p class="cs-item-text">
                        Dowiesz się więcej o swoich brakach i zrozumiesz czemu nie można być świetnym w każdej dziedzinie.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="/assets/images/icons/level-up.png"
                            loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Pchnij wiedzę wyżej</h3>
                    <p class="cs-item-text">
                        Dobierzemy dla Ciebie indywidualną ścieżkę rozwoju, dzięki której twoja wiedza będzie rozkwitać.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="/assets/images/icons/self-confidence.png"
                            loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Poczuj talent</h3>
                    <p class="cs-item-text">
                        Szlifuj kompetencje, w których radzisz sobie najlepiej i poczuj, że dzięki nim możesz budować lepszy świat.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>

<!-- separator line -->
<hr/>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-1007">
    <div class="cs-container" id="edutie">
        <div class="cs-image-group">
            <picture class="cs-picture">
                <!--Desktop-->
                <source media="(min-width: 1024px)" srcset="/assets/images/e-learning2.png">
                <!--Tablet-->
                <source media="(min-width: 601px)" srcset="/assets/images/e-learning2.png">
                <!--Mobile-->
                <source media="(max-width: 600px)" srcset="/assets/images/e-learning2.png">
                <img loading="lazy" decoding="async" src="/assets/images/e-learning2.png" alt="e-learning" width="522" height="461" aria-hidden="true">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Nowa szkoła</span>
            <h2 class="cs-title">E-learning z Edutie</h2>
            <p class="cs-text">
                Edutie to tworzona przez nas nowoczesna platforma e-learningowa, która ma umożliwić naukę przedmiotów w szkole średniej w nowoczesny i spersonalizowany sposób. Edutie oferuje uczniowi zadania przygotowane pod jego indywidualne potrzeby, odpowiednie nawigowanie go w gęstym materiale i nie tylko. Aby dowiedzieć się więcej przejdź do strony edutie.
                <!--Creates the space between p tags on mobile-->
                <span class="cs-spacer"></span>
            </p>
            <a href="https://edutie.nowanauka.pl/" class="cs-button-solid">Odwiedź stronę Edutie</a>
        </div>
    </div>
</section>

<!-- separator line -->
<hr/>
                                
                                
<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-1388">
    <div class="cs-container" id="contact">
        <div class="cs-content">
            <span class="cs-topper">Kontakt</span>
            <h2 class="cs-title">Odezwij się</h2>
            <p class="cs-text">
                Odpowiadamy na wszystko.
            </p>
            <ul class="cs-ul">
                <li class="cs-li">
                    <picture class="cs-icon-wrapper">
                        <img aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/phone-76.svg" alt="phone icon" class="cs-icon" width="40" height="40" decoding="async">
                    </picture>
                    <div class="cs-flex-group">
                        <span class="cs-header">Telefon</span>
                        <a href="tel:{{client.phoneForTel}}
                        " class="cs-link">{{client.phoneFormatted}}
                        </a>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-icon-wrapper">
                        <img aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mail-76.svg" alt="address icon" class="cs-icon" width="40" height="40" decoding="async">
                    </picture>
                    <div class="cs-flex-group">
                        <span class="cs-header">Email</span>
                        <a href="mailto:{{client.email}}" class="cs-link">{{client.email}}</a>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-icon-wrapper">
                        <img aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/pin-76.svg" alt="address icon" class="cs-icon" width="40" height="40" decoding="async">
                    </picture>
                    <div class="cs-flex-group">
                        <span class="cs-header">Miasto</span>
                        <a href="{{client.address.mapLink}}" class="cs-link">{{client.address.city}} - tutaj działamy</a>
                    </div>
                </li>
            </ul>
        </div>
        <!--Form-->
        <form class="cs-form" id="cs-form-1388" name="Contact Form" method="post">
            <h3 class="cs-h3">Wyślij wiadomość</h3>
            <label class="cs-label">
                Imię
                <input class="cs-input" required type="text" id="name-1388" name="name" placeholder="Jak się do Ciebie zwracać?" disabled>
            </label>
            <label class="cs-label cs-email">
                Email
                <input class="cs-input" required type="email" id="email-1388" name="email" placeholder="Adres email, na który odpowiemy" disabled>
            </label>
            <label class="cs-label">
                Wiadomość
                <textarea class="cs-input cs-textarea" required name="Message" id="message-1388" placeholder="Napisz coś..." disabled></textarea>
            </label>
            <button class="cs-button-solid cs-submit" type="submit" disabled>Wyślij</button>
            <p class="warning">Formularz obecnie nie przyjmuje zgłoszeń. Skontaktuj się z nami pisząc maila. Przepraszamy!</p>
        </form>
    </div>
</section>
                                 

{% endblock %}